/* STYLE POUR TOUTE LA PAGE */
html, body {
    height : 100%; 
}
body{
    --slide-text-time:1.5s;
}
.cursor {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%;
    mix-blend-mode: difference;
    background-color: black;
    z-index: 10000;
    border: 2px solid black;
    opacity: 0.2;
    height: 30px;
    width: 30px;
    transition: all 100ms;
  }

/* STYLE NAVBAR */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem;
    animation: slide-logo_links var(--slide-text-time) cubic-bezier(.23,1,.32,1) 
}

/*  STYLE POUR LOGO ET LIENS */
.logo{
    font-family: 'Bad Script', cursive;
    cursor: pointer;
    transition: transform 0.2s ;
    display: inline-block;
}

.logo:hover{
    transform:  rotate(-3deg);
}

.links{
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
    transition: font-weight 0.2s;
    
}

a:hover{
    font-weight: bold;
}
.logo h1{
    margin: 0;
}

/* STYLE POUR LE BOUTON */

.div_boutton{
    align-self: center;
}
.button{
    font-family: 'Bad Script', cursive;
    height: 75px;
    width: 75px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 50%;
    background: linear-gradient(grey,10%, white);
    transition: 0.2s;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.div_boutton p{
    text-align: center;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}

.button:hover{
    height:100px;
    width:100px;
}

/* Style pour le main text */

.text{
    width: 60%;
    margin: auto;
    margin-top: 10% ;
    letter-spacing: 3px;
    line-height: 275%;
    font-family: 'Roboto Slab', serif;
    
}

.text h1{
    animation: slide-text var(--slide-text-time) cubic-bezier(.23,1,.32,1) 50ms;
    transform: scale(0);
    animation-fill-mode: forwards;
}

/* Keyframes */
@keyframes slide-text {
    0% {
       transform: translateY(1000%);
       opacity:0; 
    }
    100% {
        transform: translateY(0%);
        opacity:1;
    }
}

@keyframes slide-logo_links {
    0% {
        transform: translateY(1000%);
        opacity:0; 
     }
     100% {
         transform: translateY(0%);
         opacity:1;
     }
}


